@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
